*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.background_container {
  background-image: url("../../img/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 100%;
  height: 80vh;
}

.container {
  margin: 0 auto;
  padding: 0;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 0 40px;
}
.brand-logo img {
  width: 60px;
}

.brand-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1em;
  color: inherit;
}

.main-header a {
  font-family: "Merriweather Sans", sans-serif;
  color: #fff;
}
.background_container .main_nav a {
  text-decoration: none;
  padding: 1rem;
}

.main_nav {
  padding: 60px;
}

.main_nav .list {
  display: flex;
  margin: 0;
  list-style: none;
}

.background_container .section-h {
  position: absolute;
  top: 300px;
  left: 80px;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 2.2em;
  margin: 1rem;
  margin-top: 0;
  color: #fff;
}

.subtitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  font-size: 1em;
  margin: 1rem;
  margin-bottom: 1, 2em;
  color: #fff;
  letter-spacing: -0.2px;
}

.container_info {
  width: 100%;
}
.info {
  font-family: "Modern Antiqua", cursive;
}

.imgSlideShow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
}
