.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card .card_ul {
  align-self: flex-end;
  list-style-type: none;
}

.card .displayImages {
  width: 30%;
}
