.card {
  border: none;
}

.card-img-top {
  height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 21px -13px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 0px 10px 21px -13px rgba(0, 0, 0, 0.99);
  box-shadow: 0px 10px 21px -13px rgba(0, 0, 0, 0.99);
}
